body {
    background: #F0FFFF;  
}
.cabecalho {
       display: flex;
       justify-content: space-between;
       
}

a {
    text-decoration: none;
    color: white;
}  


@media (min-width: 901px) 
{
    
.cabecalho p {
     font-size: 40px;
     font-weight: bold;
     color: rgba(253, 8, 8, 0.945);
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.imagem_cabecalho {
    height: 110px;
}
    
.container_apresentacao {
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 8px 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.texto_apresentacao {
    text-align: left;
    text-indent: 20px;
    font-size: 30px;
    margin-bottom: 0 ;
    margin-top: 0;
    margin-bottom: 10px;
}

.container_Instrucoes {
    margin-top: 14px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 8px 8px;
}

.container_Instrucoes p{
   margin-bottom: 10px;
   margin-top: 0;
   text-align: center;
   font-size: 30px;
}

#container_Instrucoes_titulo{
    margin-top: 30px;
}

.container_botao {
    margin-top: 80px;
    display: flex;
    justify-content: center;

}

#botao_teste_ancora {
     border-radius: 10px;
     font-size: 50px;
     padding: 20px 20px 20px 20px;
     background: red;
     text-align: center;
}

#botao_teste_ancora:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

}


@media (min-width: 100px) and (max-width: 900px)
{

.cabecalho p {
    font-size: 20px;
    color: rgba(253, 8, 8, 0.945);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} 

.imagem_cabecalho {
    height: 40px;
}


.container_apresentacao {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.texto_apresentacao {
    text-align: left;
    text-indent: 20px;
    font-size: 15px;
    margin-bottom: 0 ;
    margin-top: 0;
    margin-bottom: 10px;
}

.container_Instrucoes {
    margin-top: 7px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px;
}

.container_Instrucoes p{
   margin-bottom: 5px;
   margin-top: 0;
   text-align: center;
   font-size: 15px;
   padding-left: 5px;
    padding-right: 5px;
}

#container_Instrucoes_titulo{
    margin-top: 5px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.container_botao {
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

#botao_teste_ancora {
     border-radius: 8px;
     font-size: 20px;
     padding: 10px 10px 10px 10px;
     background: red;
     text-align: center;
}

#botao_teste_ancora:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


}


